* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #90a3d5;
}
.kick-pad.active {
  background: #648fff;
}

.snare-pad {
  background: #ea7bb1;
}

.snare-pad.active {
  background: #dc267f;
}

.hihat-pad {
  background: #ffd066;
}

.hihat-pad.active {
  background: #ffb000;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
  flex: 2;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

select {
  padding: 1rem;
  font-size: 2rem;
}

button.mute.active {
  background: green;
}

.tempo {
  margin: 3rem;
  width: 30%;
  font-size: large;
}
.tempo p {
  text-align: center;
}
.tempo-slider {
  padding: 1rem;
  margin: 1rem 0rem;
  width: 100%;
  cursor: pointer;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
